<div class="container">
  <!-- rubric43 The user should see a button labeled “Back” -->
  <!-- rubric45 Clicking the “Back” button should take the user back to where they came from, 
    whether it was the Shopping page or the Product Page -->
  <button type="button" class="btn btn-outline-primary" routerLink="..">BACK</button>
  <div class="row">
    <!-- rubric36 The user should an image of the selected product -->
    <div class="col">
      Image
    </div>
    <div class="col">
      detail
    </div>
  </div>
</div>