<div class="container">
  <div class="clearfix">
    <!-- rubric05 The user should see a button labeled “Shop All” -->
    <!-- rubric12 If the user clicks on the “Shop All” button, the user should be taken to the shopping page -->
    <button type="button" class="btn btn-outline-primary float-right" routerLink="/shopping">SHOP ALL</button>
    <!-- rubric04 The user should see some text welcoming them to the website -->
    <h1>Welcome to Grocery Cloud</h1>
    <h2 class="text-muted">The best way to shop for groceries online</h2>
  </div>
  <!-- rubric06 The user should see a toggle switch labeled “Toggle Slide Show” -->
  <form class="clearfix">
    <div class="form-check float-right">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        Toggle Slide Show
      </label>
    </div>
  </form>
  <!-- rubric01 The user should see a product carousel that contains at least 3 
    slides of products, with each slide having between 1 and 4 product images.  -->
  <!-- rubric11 Whenever the product carousel changes it slide, it should do in an animated way -->
  <div id="app-home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner border border-dark">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <a *ngIf="items && items[0]" [routerLink]="getItemRouterLink(items[0])">
              <img  height="600px"
                [src]="items[0].imagelink" [alt]="items[0].name">
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-6 border-right border-dark overflow-hidden">
            <a *ngIf="items && items[1]" [routerLink]="getItemRouterLink(items[1])">
              <img  height="600px"
                [src]="items[1].imagelink" [alt]="items[1].name">
            </a>
          </div>
          <div class="col-6 overflow-hidden">
            <a *ngIf="items && items[2]" [routerLink]="getItemRouterLink(items[2])">
              <img  height="600px"
                [src]="items[2].imagelink" [alt]="items[2].name">
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col border-right border-bottom border-dark">
            <a *ngIf="items && items[3]" [routerLink]="getItemRouterLink(items[3])">
              <img  height="300px"
                [src]="items[3].imagelink" [alt]="items[3].name">
            </a>
          </div>
          <div class="col border-bottom border-dark">
            <a *ngIf="items && items[4]" [routerLink]="getItemRouterLink(items[4])">
              <img  height="300px"
                [src]="items[4].imagelink" [alt]="items[4].name">
            </a>
          </div>
          <div class="w-100"></div>
          <div class="col border-right border-dark">
            <a *ngIf="items && items[5]" [routerLink]="getItemRouterLink(items[5])">
              <img  height="300px"
                [src]="items[5].imagelink" [alt]="items[5].name">
            </a>
          </div>
          <div class="col">
            <a *ngIf="items && items[6]" [routerLink]="getItemRouterLink(items[6])">
              <img  height="300px"
                [src]="items[6].imagelink" [alt]="items[6].name">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- rubric02 The user should see a button that resembles a left arrow key to the left of the product carousel -->
    <!-- rubric08 Clicking on the left arrow should move the product carousel one slide back -->
    <a class="carousel-control-prev" href="#app-home-carousel" role="button" data-slide="prev">
      <i class="fas fa-arrow-left text-dark" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <!-- rubric03 The user should see a button that resembles a right arrow key to the right of the product carousel -->
    <!-- rubric07 Clicking on the right arrow should move the product carousel one slide forward. -->
    <a class="carousel-control-next" href="#app-home-carousel" role="button" data-slide="next">
      <i class="fas fa-arrow-right text-dark" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>